.accept:focus {
    background: red;
}

link {
    font-family: Verdana, sans-serif;
}

#form {
    position: relative;
    font-family: "Comic Sans MS", serif;
    font-size: 15px;
}

table {
    text-align: center;
    width: 50%;
    height: 200px;
    overflow: auto;
    /*font-family: fantasy;*/
    background-color: #B3B3B3;
}

th {
    font-weight: lighter;
    height: 30px;
    vertical-align: bottom;
    background-color: gray;
    color: white;
}