<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/web</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="web3/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="web3" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="javax.faces-2.4.0" />
          <element id="library" level="project" name="postgresql-42.2.8" />
          <element id="library" level="project" name="primefaces-7.0" />
          <element id="library" level="project" name="com.googlecode.wicket-jquery-ui:jquery-ui-core:1.1" />
        </element>
      </element>
    </root>
  </artifact>
</component>